@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartPop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    15% {
        transform: scale(1.2);
        opacity: 0.9;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}